{% extends "layout.html" %}

{% block pageTitle %}
  Before you start
{% endblock %}

{% block header %}
  <!-- Blank header with no service name for the start page -->
  {{ govukHeader() }}
{% endblock %}


{% block content %}

  <div class="govuk-grid-row">
    
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">
        Apply to become an academy: before you start
      </h1>

      <p>You'll be expected to have certain information and evidence to hand when you begin your application.</p>

      <h2 class="govuk-heading-m">
        Information about the trust
    </h2>

    <p>You must know whether the school is going to:</p>

      <ul class="govuk-list govuk-list--bullet">
        <li>join an existing multi-academy trust</li>
        <li>form a new multi-academy trust with other schools</li>
        <li>form a single academy trust on its own</li>
      </ul>

      <p>If you are forming a new trust you will also need:</p>

      <ul class="govuk-list govuk-list--bullet">
        <li>a proposed name for the new trust - this can be changed later</li>
        <li>a reason or reasons for forming a trust</li>
        <li>plans for growing the trust</li>
        <li>plans for improving teaching</li>
        <li>details of any trustees</li>
        <li>details of the chair of the trust</li>
        <li>details of any other schools in the trust</li>
      </ul>
    
    <h2 class="govuk-heading-m">
      Finance information
    </h2>

      <p>You'll be asked to provide details of:</p>

      <ul class="govuk-list govuk-list--bullet">
        <li>the school's capital and revenue for last year, this year and next year</li>
        <li>any loans</li>
        <li>any leases</li>
        <li>a bank account - either of the school or trust - that the school's support grant can be paid into </li>
      </ul>

    <h2 class="govuk-heading-m">
      Pupil information
    </h2>

    <p>You'll be asked to provide projected pupil numbers for the next 3 years.</p>

    <h2 class="govuk-heading-m">
      Land and building information
    </h2>

    <p>You will need to provide information about the school's buildings and the land they are built on.</p>

    <p>This includes details of:</p>

    <ul class="govuk-list govuk-list--bullet">
      <li>shared use buildings</li>
      <li>grants</li>
      <li>PFI schemes</li>
      <li>who owns the land</li>
      <li>any building work</li>
    </ul>

    <h2 class="govuk-heading-m">
      Evidence of permission to convert
    </h2>

    <p>You'll be asked to provide evidence that stakeholders are happy for the school to convert to an academy.</p>

    <p>This will include:</p>

    <ul class="govuk-list govuk-list--bullet">
      <li>a resolution passed by the school's governing body</li>
      <li>a letter from the new trust the school is joining, or minutes of their board meeting</li>
      <li>a letter of consent from the diocese if it's a faith school</li>
      <li>a letter of consent from the foundation trust if it's a foundation school</li>
      <li>information about the consultation the school has carried out, or its plans to consult if this has not yet happened</li>
    </ul>

    <a href="#" role="button" draggable="false" class="govuk-button govuk-button--start govuk-!-margin-top-2 govuk-!-margin-bottom-8"  data-module="govuk-button">
      Start now
      <svg class="govuk-button__start-icon" xmlns="http://www.w3.org/2000/svg" width="17.5" height="19" viewBox="0 0 33 40" aria-hidden="true" focusable="false">
        <path fill="currentColor" d="M0 0h13l20 20-20 20H0l20-20z"></path>
      </svg>
    </a>
</div>
</div>
<a href="/start.html" class="govuk-back-link">Back</a>
{% endblock %}
