{% extends "layout.html" %}

{% block pageTitle %}
  Trust Consent - Apply to become an academy
{% endblock %}

{% block content %}

<div class="govuk-width-container">
  <a href="/index.html" class="govuk-back-link">Return to application</a>

  <main class="govuk-main-wrapper">

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        
        <h1 class="govuk-heading-l">Feedback footer example</h1>
        <p class="govuk-body">Lorem ipsum dolor sit amet, amet possit ex qui, ad pri agam quot. Ea summo delectus officiis est, ne elitr alienum ius. No alienum definiebas per. Usu ad populo aliquam. Vis wisi option ea, nec iisque eruditi maiorum ad.
        </p>
      </div>
    </div>

  </main>
  <a href="/index.html" class="govuk-back-link">Return to application</a>
</div>

{% endblock %}