
{% extends "layout.html" %}

{% block pageTitle %}
  Apply to become an academy
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">
        Apply to become an academy - Prototype review V1.1
      </h1>
      <p>
        This prototype includes individual pages from the Apply to become an academy service. The pages have been re-worked to address accessibility and design issues. As well as to include pages with new content.
      </p>

      <p>
      The following list contains the links to the static pages.
      </p>

      <h2 class="govuk-heading-m">Accessibility Issues</h2>

      <ul class="govuk-list govuk-list--bullet">
        <!--
        <li>
          <a href="/docs/tutorials-and-examples">Example pages and documentation</a>
        </li> 
     -->
        <li>
          <a href="/invite.html">Issue 07: Invite a contributor (18 Feb 2022)</a>
        </li>
        <li>
          <a href="/about.html">Issue 08: About the conversion (10 February 2022)</a>
        </li>
        <li>
          <a href="/upload.html">Issue 11: Upload file example (25 February 2022)</a>
        </li> 
        <li>
          <a href="/applications.html">88170: Duplicated links on Your applications page</a>
        </li> 
        
      </ul>
      <h2 class="govuk-heading-m">UI improvements</h2>
      <ul class="govuk-list govuk-list--bullet">
       
        <li>
          <a href="/feedback.html">64924: Add component to request feedback (4 March 2022)</a>
        </li> 
        <li>
          <a href="/banner.html">90850: Add temporary maintenance notification banner (16 March 2022) </a>
        </li> 
     
      </ul>
      
      <h2 class="govuk-heading-m">Design History</h2>
      <ul class="govuk-list govuk-list--bullet">
       
        <li>
          <a href="https://sdd-design-history.netlify.app/a2b-external/" class="govuk-link" rel="noreferrer noopener" target="_blank">A design history for the SDD services (opens in new tab)</a>
        </li> 
     
      </ul>

      <h2 class="govuk-heading-m">Content</h2>
      <ul class="govuk-list govuk-list--bullet">
       
        <li>
          <a href="statement.html">Accessibility statement</a>
        </li> 
     
      </ul>

    </div>
  </div>

{% endblock %}
