
{% extends "layout.html" %}

{% block pageTitle %}
  Apply to become an academy
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">
        Apply to become an academy - Prototype review V1.1
      </h1>
      <p>
        This prototype includes individual pages from the Apply to become an academy service. The pages have been re-worked to address accessibility and design issues. As well as to include pages with new content.
      </p>

      <p>
      The following list contains the links to the static pages.
      </p>


    </div>
  </div>

{% endblock %}
