
{% extends "layout.html" %}

{% block pageTitle %}
  Apply to become an Academy
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">
        Apply to become an academy - Prototype review Branch 2 example
      </h1>
      <p>
        This prototype includes individual pages from the Apply to become an academy service. The pages have been re-worked to address accessibility and design issues.
      </p>

      <p>
      The following list contains acontains the links to the static pages.
      </p>

      <h2 class="govuk-heading-m">Issues Branch 2</h2>

      <ul class="govuk-list govuk-list--bullet">
        <!--
        <li>
          <a href="/docs/tutorials-and-examples">Example pages and documentation</a>
        </li> 
       -->

       <li>
        <a href="/docs/tutorials-and-examples">this is a change</a>
      </li> 
        <li>
          <a href="/invite.html">Issue 07: Invite a contributor (WIP)</a>
        </li>
        <li>
          <a href="/about.html">Issue 08: About the conversion (10 February 2022)</a>
        </li>
        <li>
          <a href="/upload.html">Issue 11: Upload file example (WIP)</a>
        </li> 
        
      </ul>
    </div>
  </div>

{% endblock %}
